<section class="card">
  <a href="/beginner/{{id}}">
    <header>{{name}}</header>
    <img src= "" alt="{{book.[0].description}}">
    <p>By: {{author}}</p>
    <p>{{price}}</p>
    <p>{{audiobook}}</p>
  </a>
  
</section>