<section class="card">
  <a href="/intermediate/{{id}}">
    <header>{{name}}</header>
    <img src= "" alt="{{book.[0].description}}">
    <p>By: {{author}}</p>
    <p>By: {{price}}</p>
    <p>By: {{audiobook}}</p>

  </a>
</section>