<section class="card">
  <a href="../../models/Intermediate.js{{id}}">
    <header>{{name}}</header>
    <img src= "" alt="{{book.[0].description}}">
    <p>By: {{author}}</p>
    <p>By: {{price}}</p>
    <p>By: {{audiobook}}</p>
    <link href="../../models/Intermediate.js">
  </a>
</section>